/* * { 
    border: red solid 1px;
} */


body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1, h2 {
    color: #000000
}

h3, a {
    color: #11999E;
}

h1 {
    /* 100% is 16px, so for 90px we need 90px/16px = 5.625 * 100% = 562.5% */
    font-size: 562.5%; 
    /* font-size: 5.625rem; */
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    position: relative;
}



.top-container {
    background-color: rgb(106, 183, 238);
    position: relative;
    padding-top: 100px;

}

.middle-container {
}
.bottom-container {
}

.underline {
    text-decoration: underline;
}

.emphasis {
    font-style: italic;
}

.top-cloud {
    position: absolute;
    right: 25%;
    /* top: 50px; */
    top: 100px;

}
.bottom-cloud {
    position: absolute;
    left: 25%;
}
.mountain {
    position: relative;
    top: 25%;
}



.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}

.skill-name, .skill-description {
    
}


.python-img, .dna-img {
    width:25%;
    height:25%;
    
}

.python-img {
    float: left;
    margin-right: 30px;
}

.dna-img {
    float: right;
    margin-left: 30px;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: 3;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
